.sidenav {
    width: 130px;
    position: fixed;
    z-index: 1;
    top: 20px;
    background: hsl(0, 0%, 90%);
    box-shadow: 1px 1px 1.2px 1.2px hsl(0, 0%, 80%);
    overflow-x: hidden;
    padding: 8px 0;
    margin-top: 200px;
}

.sidenav a {
    padding: 6px 8px 6px 10px;
    text-decoration: none;
    font-size: 20px;
    color: black;
    display: block;
}

.sidenav a:hover {
    color: #064579;
    margin-left: 20px;
}

.main {
    margin-left: 140px; /* Same width as the sidebar + left position in px */
    font-size: 28px; /* Increased text to enable scrolling */
    padding: 0px 10px;
}